body {
  background: #000066; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000066, #6600CC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000066, #6600CC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000066, #6600CC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000066, #6600CC); /* Standard syntax */
  color: white;
  text-align: center;

}
#main {
}
a {
    color: #33cc33;
}
#footer{ 
   position: fixed;     
   text-align: center;    
   bottom: 8px; 
   width: 100%;
} 